<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146476586304-5hlh6ef5r8csgbev5n5r0595uv2l1s4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146476586304-5hlh6ef5r8csgbev5n5r0595uv2l1s4d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>146476586304-63o771e9fvh6h6d6bq2r9kp4hqjdu277.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvcSNFeLO-SM3qSfU9NAbPXjuWMCWaiZI</string>
	<key>GCM_SENDER_ID</key>
	<string>146476586304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthyAppFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>healthy-app-5dab0</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-app-5dab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146476586304:ios:a8a6d8fc6fc19d293e16a5</string>
	<key>DATABASE_URL</key>
	<string>https://healthy-app-5dab0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>